#inputform{
    width: 800px;
    height: 30px;
    
}
#detect-button{
    width: 300px;
    height: 30px;
    margin-left: 20px;
    background: linear-gradient(to right, rgb(255, 65, 108), rgb(255, 75, 43));
}
#tiltingdetect{
    margin-left: 340px;
}
#imagelinkpara{
    font-size: large;
    padding-top: 50px;
    margin-top:20px ;
}
#formmaindiv{
background-color:white;
background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%),
linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
background-size:50px 50px;
margin-left: 270px;
width: 1000px;
height: 160px;
border-radius: 20px;
margin-top: -70px;
text-align: center;
padding-top: 70px;
}